
<p>Please enter your personal info:</p>
  <div class="form-group">
  <%= text_field_tag :first_name, "",placeholder: "First Name", class: "form-control" %>
	</div>
  <div class="form-group">
  <%= text_field_tag :last_name, "",placeholder: "Last Name", class: "form-control" %>
	</div>
  <div class="form-group">
  <%= text_field_tag :phone, "",placeholder: "Your Phone Number", class: "form-control" %>
	</div>
  <div class="form-group">
  <%= text_field_tag :last_name, "",placeholder: "Friend's Phone Number", class: "form-control" %>
	</div>

<div class="mb1" style="display:none">
  <%= text_field_tag :company, "",placeholder: "Company", class: "form-control" %>
</div>
<div class="mb1" style="display:none">
  <%= text_field_tag :phone, "",placeholder: "Phone", class: "form-control" %>
</div>